@color: red;
body{
    transition: all 2s;
    background-image: url("@assets/img/girl.jpg");
    .box {
        width: 200px;
        height: 200px;
        background-color: aqua;
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
    }
}